<app-nav-bar-detail [name]="nameArtist"></app-nav-bar-detail>

<h4> Top 20 de ses musiques </h4>

<p *ngIf="error"> {{ error }}</p>
<ul *ngIf="!error" class="list-group list-group-light">
    <div class="list-group-item rowMusic titles"> 
        <span class="nameMusic">
            Music name 
        </span>
        <span class="statMusic">
            listeners
            ·
            playcounts
        </span>
    </div>
    <a routerLink="/details/music" [queryParams]="{artist: nameArtist, name: music.name}" *ngFor="let music of musics" class="rowMusic list-group-item list-group-item-action"> 
        <span class="nameMusic">
            <img src="../../../assets/musical-notes-outline.svg"/> 
            {{music.name}}    
        </span>
        <span class="statMusic">
            {{music.listeners}}
            ·
            {{music.playcount}}
        </span>
    </a>
</ul>