
.rowMusic span {
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    -webkit-line-clamp: 1;
    display: flex;
    align-items: center;
}

.titles {
    font-weight: bold;
    align-items: center;
}

.nameMusic {
    width: 65%;
}

.statMusic {
    width: 35%;
    text-align: right;
    justify-content: end;
}

.rowMusic span img {
    height: 75%;
    margin-right: 0.5rem;
}

.rowMusic {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}