<aside class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100">

    <ul *ngIf="!error" class="nav nav-pills flex-column mb-auto">
      <h4> See more about ... </h4>
      <li class="nav-item m-1" *ngFor="let link of links | keyvalue" >
        <a [routerLink]="[link.value[0]]" [queryParams]="{name: nameArtist}" href="#" class="nav-link link-dark border border-secondary" >
          <img class="bi me-2" src="{{link.value[1]}}" width="16" height="16" />
          {{link.key}}
        </a>
      </li>
    </ul>
    <p *ngIf="error"> {{ error }} </p>
</aside>